@{
    ViewData["Title"] = "Login";

    var returnUrl = ViewData["ReturnUrl"] as string;
    returnUrl = System.Net.WebUtility.UrlEncode(returnUrl);

    var error = TempData["ErrorMessage"] as string;
}

<h1>Login</h1>

@if (!string.IsNullOrEmpty(error))
{
    <h6 class="alert-danger p-3 mt-2 mb-2">@error</h6>
}

<div class="row mt-3">
    <div class="col-8">
        <form action="/login?ReturnUrl=@returnUrl" method="post">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>